<!--<div class="container-fluid">-->
  <!--<header id="banner" class="navbar fixed-menu" role="banner">-->
    <!--<div id="main-menu"  class="row-fluid inline-menu" style="z-index: 1000; position: fixed; top: 0px; margin-left: 0px; left: 0px;">-->
      <!--<div class="container-fluid">-->
        <!--<div id="inner-menu">-->
          <!--<div class="navbar-inner menu-cont hvr">-->
            <!--<a class="btn btn-navbar">-->
              <!--<span id="toggle-nav" class="menu-icon">-->
                <!--<i data-icon=""></i>-->
              <!--</span>-->
            <!--</a>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->

          <!--<nav id="nav-main" class="" role="navigation"><ul id="menu-main-menu-1" class="nav main-menu">-->
            <!--<li class="menu-projects active"><a href="#">Projects</a></li>-->
            <!--<li class="menu-about-us"><a href="#">About us</a></li>-->
            <!--<li class="menu-contact-us"><a href="#">Contact us</a></li>-->
          <!--</ul>-->
          <!--</nav>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</header>-->
<!--</div>-->
