<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> About US </h1>
      <p class="lead">
        Yantra Consulting Pvt Ltd has zeal for constant improvement and growth by delivering<br>

        Economical and Robust solutions focused upon the needs of the end user. We can provide<br>

        Customized solutions in Entrance Automation, Entrance Security, Surveillance and Parking<br>

        Management for Residential and Heavy traffic Commercial locations such as Corporate Offices,<br>

        Industries, Hotels, Gated communities and Shopping centers.
      </p>
    </div>
  </div>
</div>