body > .container
  padding-top: 120px

.thumbnail
  background-color: rgba(96, 96, 96, 0.40)

.navbar-brand
  height: 100px

.thumbnail > .caption
  padding: 0
  text-align: center

.navbar-nav > li > a
  line-height: 50px
  padding-right: 80px
  font-size: 18px
  font-family: arial, sans-serif

.navbar > .container-fluid .navbar-brand
  margin: 0 0 0 0
  padding: 0 0 0 60px

.image-grid
  display: flex
  flex-direction: row
  flex-grow: 2
  align-items: baseline
  align-content: space-around
  justify-content: space-around
  align-self: auto
  flex-wrap: wrap

