// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
 background: #fff
 color: #555
 font: 15px/25px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
 font-weight: 300
 text-rendering: optimizeLegibility

#logo img
 width: 160px
 height: 90px