<div class="container">
  <div class="row">
    <% @categories.each_slice(3) do |list| %>
        <% list.each do |category| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="image-grid">
                <% Product.where(category: category).each do |product| %>
                  <%= image_tag(product.image.url(:thumb)) %>
                <% end %>
              </div>
              <div class="caption">
                <h3><%= link_to  category.name %></h3>
              </div>
            </div>
          </div>
        <% end %>
  <% end %>
  </div>
</div>



