<div class="container">

    <% @categories.each_slice(3) do |list|%>
      <div class="row">
        <% list.each do |category|%>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("logo.png")%>
              <div class="caption">
                <h3><%= category.name %></h3>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>



