<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://www.daz3d.com/media/catalog/product/cache/1/thumbnail/689303033aebc8cae535000c73c8db4b/0/3/03-nature---bushes-bundle-daz3d.jpg" alt="...">
      </a>
    </div>
  </div>
</div>

